{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora") -}}
#!/bin/sh
# Disable fedora remotes
{{- $remotes := splitList "\n" (output "flatpak" "remotes" "--columns=name") -}}
{{- if has "fedora" $remotes }}
flatpak remote-modify fedora --disable
{{- end -}}
{{- if has "fedora-testing" $remotes }}
flatpak remote-modify fedora-testing --disable
{{- end }}
# Remove apps
{{- $apps := (split "\n" (output "flatpak" "list" "--columns=ref,origin" "--app")) -}}
{{- $removeApps := list -}}
{{- range $apps -}}
{{- $item := (split "	" . ) -}}
{{- if and (eq (len $item) 2) (eq $item._1 "fedora") -}}
{{- $removeApps = append $removeApps $item._0 -}}
{{- end -}}
{{- end -}}
{{- if gt (len $removeApps) 0 }}
flatpak uninstall -y {{ $removeApps | join " " }}
{{- end }}
# Remove runtimes
{{- $runtimes := (split "\n" (output "flatpak" "list" "--columns=ref,origin" "--runtime")) -}}
{{- $removeRuntimes := list -}}
{{- range $runtimes -}}
{{- $item := (split "	" . ) -}}
{{- if and (eq (len $item) 2) (eq $item._1 "fedora") -}}
{{- $removeRuntimes = append $removeRuntimes $item._0 -}}
{{- end -}}
{{- end -}}
{{- if gt (len $removeRuntimes) 0 }}
flatpak uninstall -y {{ $removeRuntimes | join " " }}
{{- end }}
{{ end -}}
